
@{
    ViewBag.Title = "Xacnhan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>ĐƠN HÀNG ĐÃ HOÀN TẤT</h2>
<p>
    @Html.ActionLink("Trang chủ", "Trangchu", "Admin")
    <br /> @Html.ActionLink("Xem mặt hàng", "Index", "Mathang")
</p>


