@model QL_Kho.Models.Chitietphieu

@{
    ViewBag.Title = "DetailsCT";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>DetailsCT</h2>

<div>
    <h4>Chitietphieu</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
